<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>

  </style>
</head>

<body>
  <div id="app">
    <div>
      <label for="">firstName:<input type="text" v-model="first"></label>
      <label for="">lastName:<input type="text" v-model="last"></label>
      <p>{{message}}</p>
    </div>
  </div>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        first: 1,
        last: 2,
        message: ""
      },
      watch: {
        first(first) {
          this.message = first + " " + this.last;
        },
        last(last) {
          this.message = this.first + " " + last;
        }

      }

    })
  </script>
</body>

</html>