/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
}
a,
a:hover {
  color: #333;
}
.w {
  padding: 0 8px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.lt-header {
  background: #046691;
  font-family: "微软雅黑";
}
.lt-header h1 {
  font-size: 20px;
  color: #ffffff;
}
.lt-header a {
  color: #ffffff;
}
.lt-header h1 {
  font-size: 20px;
  color: #ffffff;
}
.lt-header a {
  color: #ffffff;
}
.lt-header .mui-popover .mui-popover-arrow:after {
  content: '';
}
.lt-header .mui-scroll-wrapper {
  height: 50px;
  background: #fff;
}
.lt-header .mui-popover-arrow {
  display: none;
}
.lt-header .mui-plus-visible {
  display: inline-block !important;
}
.lt-footer {
  width: 100%;
}
.lt-footer .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #929292;
}
.lt-footer .mui-tab-label {
  font-size: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lt-footer .mui-icon {
  font-size: 24px;
  position: relative;
  z-index: 20;
  padding-top: 5px;
  padding-bottom: 3px;
}
.lt-footer .mui-item.mui-active {
  color: #ff8207;
}
.lt-footer .mui-icon {
  font-size: 22px;
}
.lt-footer .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #929292;
}
.lt-footer .mui-tab-label {
  font-size: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lt-footer .mui-icon {
  font-size: 24px;
  position: relative;
  z-index: 20;
  padding-top: 5px;
  padding-bottom: 3px;
}
.lt-footer .mui-item.mui-active {
  color: #ff8207;
}
.lt-footer .mui-icon {
  font-size: 22px;
}
.comment {
  width: 100%;
  margin-top: 66px;
}
.comment input {
  font: 16px/1.14 arial;
}
.comment .registerBtn {
  width: 100%;
  height: 40px;
  margin-top: 15px;
}
.comment .registerBtn button {
  width: 100%;
  height: 40px;
}
.comment .member {
  width: 100%;
  margin-top: 15px;
  position: relative;
  font: 16px/1.14 arial;
}
.comment .member input[type=checkbox] {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  left: 0;
  top: -3px;
}
.comment .member a {
  float: right;
  color: #0c7afe;
}
.lt-header {
  background: #046691;
  font-family: "微软雅黑";
}
.lt-header h1 {
  font-size: 20px;
  color: #ffffff;
}
.lt-header a {
  color: #ffffff;
}
.lt-footer {
  width: 100%;
}
.lt-footer .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #929292;
}
.lt-footer .mui-tab-label {
  font-size: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lt-footer .mui-icon {
  font-size: 24px;
  position: relative;
  z-index: 20;
  padding-top: 5px;
  padding-bottom: 3px;
}
.lt-footer .mui-item.mui-active {
  color: #ff8207;
}
.lt-footer .mui-icon {
  font-size: 22px;
}
.lt-header {
  background: #046691;
  font-family: "微软雅黑";
}
.lt-header h1 {
  font-size: 20px;
  color: #ffffff;
}
.lt-header a {
  color: #ffffff;
}
.lt-header .mui-plus-visible {
  display: inline-block !important;
}
.lt-header h1 {
  font-size: 20px;
  color: #ffffff;
}
.lt-header a {
  color: #ffffff;
}
.lt-header .mui-popover .mui-popover-arrow:after {
  content: '';
}
.lt-header .mui-scroll-wrapper {
  height: 50px;
  background: #fff;
}
.lt-header .mui-popover-arrow {
  display: none;
}
.lt-footer {
  width: 100%;
}
.lt-footer .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #929292;
}
.lt-footer .mui-tab-label {
  font-size: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lt-footer .mui-icon {
  font-size: 24px;
  position: relative;
  z-index: 20;
  padding-top: 5px;
  padding-bottom: 3px;
}
.lt-footer .mui-item.mui-active {
  color: #ff8207;
}
.lt-footer .mui-icon {
  font-size: 22px;
}
.lt-footer .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #929292;
}
.lt-footer .mui-tab-label {
  font-size: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lt-footer .mui-icon {
  font-size: 24px;
  position: relative;
  z-index: 20;
  padding-top: 5px;
  padding-bottom: 3px;
}
.lt-footer .mui-item.mui-active {
  color: #ff8207;
}
.lt-footer .mui-icon {
  font-size: 22px;
}
.lt-comment {
  margin-top: 44px;
  background: #ffffff;
  overflow: hidden;
}
.lt-comment .left {
  position: fixed;
  top: 44px;
  left: 0;
  width: 30%;
  height: 100%;
  display: inline-block;
}
.lt-comment .left ul {
  width: 100%;
  padding-bottom: 94px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}
.lt-comment .left ul li {
  width: 100%;
  line-height: 30px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  font-size: 16px;
}
.lt-comment .right {
  float: right;
  width: 70%;
  padding: 10px 10px 50px;
  box-sizing: border-box;
  font-size: 0;
}
.lt-comment .right h4 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  margin-left: 20px;
}
.lt-comment .right .brand {
  width: 100%;
}
.lt-comment .right .brand ul {
  width: 100%;
}
.lt-comment .right .brand ul li {
  width: 33.333%;
  display: inline-block;
}
.lt-comment .right .brand ul li a {
  width: 100%;
}
.lt-comment .right .brand ul li a img {
  width: 100%;
  vertical-align: middle;
}
.lt-comment .right .brand ul li span {
  display: inline-block;
  width: 50px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  margin-left: 13px;
}
.lt-comment .right .hot-guider {
  width: 100%;
}
.lt-comment .right .hot-guider a {
  display: inline-block;
  width: 33.3333%;
}
.lt-comment .right .hot-guider a img {
  width: 100%;
}
